<div id="footer-wrapper">
  <div id="copyright" class="container">
    <ul class="menu">
      <li>Momentum International <a href="https://www.facebook.com/InternationalMomentum">Facebook page</a> &bullet; <a href="https://www.facebook.com/groups/MomentumInternational">Facebook group</a> &bullet; <a href="https://twitter.com/Momentum_Intl">Twitter</a></li>
      <li>Labour International <a href="https://www.facebook.com/groups/LIunofficial">Facebook group (unofficial)</a></li>
    </ul>
  </div>
</div>
