<div id="footer-wrapper">
  <div id="footer" class="container">
    <header class="major">
      <h2>Let's talk about Labour International</h2>
      <p><a href="https://goo.gl/forms/2cV6CpnoUkiMCZ7P2" target="_blank">Sign up here to tell us what we can improve together!</a></p>
    </header>
  </div>
  <div id="copyright" class="container">
    <ul class="menu">
      <li>Momentum International <a href="https://www.facebook.com/InternationalMomentum">Facebook page</a> &bullet; <a href="https://www.facebook.com/groups/MomentumInternational">Facebook group</a> &bullet; <a href="https://twitter.com/Momentum_Intl">Twitter</a></li>
      <li>Labour International <a href="https://www.facebook.com/groups/LIunofficial">Facebook group (unofficial)</a></li>
    </ul>
  </div>
</div>
