<div id="footer-wrapper">
  <div id="footer" class="container">
    <header class="major">
      <h2>Sign up for email updates</h2>
      <p>We want to talk with you about how we can improve Labour International together.
      <br />
      <a href="https://goo.gl/forms/2cV6CpnoUkiMCZ7P2" target="_blank">Please submit your details here</a> to receive email updates from us.</p>
    </header>
  </div>
  <div id="copyright" class="container">
    <ul class="menu">
      <li>Momentum International <a href="https://www.facebook.com/InternationalMomentum">Facebook page</a> &bullet; <a href="https://www.facebook.com/groups/MomentumInternational">Facebook group</a> &bullet; <a href="https://twitter.com/Momentum_Intl">Twitter</a></li>
      <li>Labour International <a href="https://www.facebook.com/groups/LIunofficial">Facebook group (unofficial)</a></li>
    </ul>
  </div>
</div>
