#content h2, #content h3 {
    margin-bottom: 0.5em;
}

#main ul li {
    list-style-type: disc;
    padding-bottom: 0.5em;
}

#main ul li ul {
	margin-left: 2em;
}

#main ul li ul li {
	list-style-type: circle;
}

#logo {
    width: 20em;
    margin-left: -10em;
}

#nav > ul > li.break {
    margin-left: 22em;
}

@media screen and (max-width: 480px) {
    #logo {
	width: 100%;
	margin: 0;
    }
}

@media screen and (max-width: 1080px) {
    #nav > ul > li.break {
	margin: 0;
    }
}
